name: Example
on: [push]

jobs:
  my_job:
    runs-on: ubuntu-latest

    steps:
    - name: run demo gh action
      id: demo-action
      uses: iamNoah1/gh-action-demo@master
      with:
        api-token: superSecretToken

    - name: echo output var
      run: echo ${{ steps.demo-action.outputs.output-var }}